@media print{
    @page{
        margin: 0;
        padding: 0;
        background: transparent;
    }
    
    #app, #navbar{
        display: none;
    }

    #render{
        width: 100%;
        border: none;
        height: unset !important;
        min-height: unset !important;
        max-height: unset !important;
        overflow:unset !important;
    }

    .row {
        width: 100%;
        height: 100px;
        flex-grow: 1;
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
    }
}