@media print{
    @page{
        margin: 0;
        padding: 0;
        background: transparent;
    }
    
    #app, #navbar{
        display: none;
    }

    #render{
        width: 100%;
        border: none;
    }
}