:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-1: #191919;
  --color-2: #252526;
  --color-3: #2b2b2b;
  --color-4: #3C3C3C;

  --color-d: #4d309c;
  --color-d-1: #663399;
  --color-d-2: #532a7b;
  --color-d-3: #391c56;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#navbar{
  background-color: var(--color-3);
  width: 100%;
  height: 60px;
  padding: 5px 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

#navbar .logo{
  background: url("/logo.svg") center center no-repeat;
  background-size: contain;
  height: 100%;
  width: 40px;
}

.row{
  width: 100%;
  height: 100px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#app {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-1);
}

#files{
  width: 30%;
  height: 100%;
  background-color: var(--color-2);
}

#editor{
  height: 100%;
  flex-grow: 1;
  background-color: var(--color-1);
}

#render{
  width: 40%;
  height: 100%;
  max-height: 100%;
  border-left: 2px solid var(--color-4);
  background-color: var(--color-1);
  overflow: auto;
}


@media (prefers-color-scheme: light) {
  :root {
    margin: 0;
  }
}
